NODE_ENV=development
PORT=5001

# =========================
# MongoDB
# =========================
MONGODB_URI=mongodb://127.0.0.1:27017
MONGO_DB_NAME=certificate-blockchain

# =========================
# Frontend
# =========================
CLIENT_URL=http://localhost:3001

# =========================
# Blockchain - Ganache Local
# =========================
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
BLOCKCHAIN_CHAIN_ID=1337

# Phải deploy lại contract vì Ganache hiện tại là blockchain mới
CERTIFICATE_CONTRACT_ADDRESS=0x7a2C22cA6B843Bc2D54b5a22445a807ae47e52e9

# Ganache Account (0)
BLOCKCHAIN_PRIVATE_KEY=0x77b3cfd4fcade9b69b10b33a38a4251d9f2b6696170333835dce114a506f5089

# TVU dùng chính account (0) làm issuer
#BLOCKCHAIN_ISSUER_PRIVATE_KEYS={"TVU":"0x77b3cfd4fcade9b69b10b33a38a4251d9f2b6696170333835dce114a506f5089"}

# =========================
# JWT
# =========================
JWT_SECRET=certificate-blockchain-local-development-secret-2026-change-production
JWT_EXPIRES_IN_SECONDS=86400

# =========================
# =========================
API_ENCRYPTION_ENABLED=false
API_ENCRYPTION_KEY=local-development-encryption-key-change-in-production